*{
    margin: 0;
    outline: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.form {
    margin: auto;
}

.label {
    display: inline-block;
}

.text {
    margin: 5px 10px 0 0;
}

.submit {
    margin-top: 10px;
}